Repository x55xaa/squared-game, changes with the labels that .github/labeler.yaml gives for each.
All labels: ci/cd, config, documentation, license, source, tests

.github/labeler.yaml:

ci/cd:
  - changed-files:
    - any-glob-to-any-file:
      - ./.github/**/*

config:
  - changed-files:
    - any-glob-to-any-file:
      - ./.gitattributes
      - ./.gitignore
      - ./pyproject.toml
      - ./requirements.txt
      - ./tox.ini

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - ./*.md
      - ./docs/**/*

license:
  - changed-files:
    - any-glob-to-any-file:
      - ./LICENSE

source:
  - changed-files:
    - any-glob-to-any-file:
      - ./setup.py
      - ./src/**/*

tests:
  - changed-files:
    - any-glob-to-any-file:
      - ./tests/**/*

Initial commit
  CONTRIBUTING.md
  DEVELOPMENT.md
  README.md
  pyproject.toml
  src/squared/__init__.py
  src/squared/__init__.pyi
  src/squared/__main__.py
  src/squared/cli.py
  src/squared/modules/__init__.py
  src/squared/modules/ansi.py
  src/squared/modules/log.py
  src/squared/modules/metadata.py
  src/squared/modules/parsing/__init__.py
  src/squared/modules/parsing/parents.py
  src/squared/modules/parsing/parsers/__init__.py
  src/squared/modules/parsing/parsers/main.py
  src/squared/parsers/__init__.py
  src/squared/parsers/main.py
  src/squared/py.typed
Labels: config, documentation, source

chore: add network helper functions
  src/squared/modules/network.py
Labels: source

feat: add the ability to use tokens to connect to a server
  src/squared/token.py
Labels: source

feat: add a CLI to the package
  src/squared/lazy.py
  src/squared/parsers/main.py
  src/squared/parsers/types.py
Labels: source

fix: player can now stop moving
  src/squared/app/game/player.py
  src/squared/app/net/client.py
Labels: source

chore: add `pygame` dependency
  pyproject.toml
Labels: config

feat: add online multiplayer
  src/squared/app/__init__.py
  src/squared/app/net/__init__.py
  src/squared/app/net/callbacks.py
  src/squared/app/net/client.py
  src/squared/app/net/filters.py
  src/squared/app/net/packet.py
  src/squared/app/net/server.py
Labels: source

feat: add first game demo
  src/squared/app/game/__init__.py
  src/squared/app/game/main.py
  src/squared/app/game/player.py
  src/squared/cli.py
Labels: source

fix: squares can now move in multiplayer
  src/squared/app/game/main.py
  src/squared/app/game/player.py
  src/squared/app/game/sprites/__init__.py
  src/squared/app/game/sprites/player.py
  src/squared/app/net/callbacks.py
  src/squared/app/net/client.py
  src/squared/app/net/packet.py
  src/squared/app/net/server.py
  src/squared/cli.py
Labels: source

fix: remove wrong imports
  src/squared/app/game/main.py
Labels: source

chore: fix typos and remove unused imports
  src/squared/app/game/sprites/player.py
  src/squared/app/net/__init__.py
  src/squared/app/net/packet.py
Labels: source

chore: fix typos
  src/squared/app/game/main.py
  src/squared/app/game/sprites/player.py
Labels: source

chore: change some logging outputs
  src/squared/app/game/sprites/player.py
  src/squared/app/net/client.py
  src/squared/app/net/server.py
Labels: source

feat: increase the range of the square fill color
  src/squared/app/net/server.py
Labels: source

feat: cap the maximum number of players at 16
  src/squared/app/net/server.py
Labels: source

refactor: polish player attributes assignment
  src/squared/app/net/packet.py
Labels: source

refactor: restructure player class
  src/squared/app/game/sprites/player.py
Labels: source

feat: add position filter to the server
  src/squared/app/net/server.py
Labels: source

feat: add position filter to the server
  src/squared/app/net/filters.py
  src/squared/app/net/server.py
Labels: source

chore: remove unused import
  src/squared/app/net/server.py
Labels: source

feat: server is now in charge of assigning the size to the player on join
  src/squared/app/net/packet.py
  src/squared/app/net/server.py
Labels: source

fix: update position filter
  src/squared/app/game/main.py
  src/squared/app/net/filters.py
Labels: source

fix: call `super().update()` instead of `self.update()`
  src/squared/app/game/sprites/player.py
Labels: source

fix: refer to new `BOUNDS` constant
  src/squared/app/game/main.py
Labels: source

fix: add `size` when building `JoinPacket` from attributes
  src/squared/app/net/packet.py
Labels: source

fix: update `__blit__` variable after attributes update
  src/squared/app/game/sprites/player.py
Labels: source

chore: remove debug print statement
  src/squared/app/net/filters.py
Labels: source

fix: use correct player size in position filter
  src/squared/app/net/filters.py
Labels: source

refactor: define player size in game main
  src/squared/app/game/main.py
Labels: source

feat: check that the player is inside the perimeter of the screen
  src/squared/app/game/sprites/player.py
Labels: source

feat: do server side check on player position
  src/squared/app/net/server.py
Labels: source

refactor: move `PLAYER_SIZE` and `PLAYERS` variables to `game.sprites.player`
  src/squared/app/game/main.py
  src/squared/app/game/sprites/player.py
  src/squared/app/net/filters.py
  src/squared/app/net/server.py
Labels: source

chore: add the `identity` attribute to the player class
  src/squared/app/game/main.py
  src/squared/app/game/sprites/player.py
Labels: source

feat: pass the packet identity and server state to server filters
  src/squared/app/net/filters.py
  src/squared/app/net/server.py
Labels: source

feat: pass the packet identity and server state to server filters
  src/squared/app/game/sprites/player.py
Labels: source

feat: add player collision
  src/squared/app/net/filters.py
  src/squared/app/net/server.py
Labels: source

feat: randomize player spawn point
  src/squared/app/game/sprites/player.py
  src/squared/app/net/server.py
Labels: source

docs: add documentation for `squared` script
  docs/source/scripts/main.rst
Labels: documentation

docs: add doc strings
  src/squared/app/game/main.py
  src/squared/app/game/sprites/__init__.py
  src/squared/app/game/sprites/player.py
  src/squared/app/net/callbacks.py
  src/squared/app/net/client.py
  src/squared/app/net/packet.py
  src/squared/app/net/server.py
Labels: source

chore: catch an explicit exception
  src/squared/parsers/types.py
Labels: source
