Repository x55xaa/squared-game, changes with the labels that .github/labeler.yaml gives for each.
All labels: ci/cd, config, documentation, license, source, tests

.github/labeler.yaml:

ci/cd:
  - changed-files:
    - any-glob-to-any-file:
      - ./.github/**/*

config:
  - changed-files:
    - any-glob-to-any-file:
      - ./.gitattributes
      - ./.gitignore
      - ./pyproject.toml
      - ./requirements.txt
      - ./tox.ini

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - ./*.md
      - ./docs/**/*

license:
  - changed-files:
    - any-glob-to-any-file:
      - ./LICENSE

source:
  - changed-files:
    - any-glob-to-any-file:
      - ./setup.py
      - ./src/**/*

tests:
  - changed-files:
    - any-glob-to-any-file:
      - ./tests/**/*

docs: add doc string to `LazyDict` class
  src/squared/lazy.py
Labels: source

fix: make sure new player spawns inside the perimeter of the screen
  src/squared/app/net/server.py
Labels: source

feat: when hosting, print the server token on screen
  src/squared/cli.py
Labels: source

chore: remove unused message packet
  src/squared/app/net/packet.py
Labels: source

style: follow `pylint` suggestions
  src/squared/app/game/main.py
  src/squared/app/game/sprites/__init__.py
  src/squared/app/game/sprites/player.py
  src/squared/app/net/client.py
  src/squared/app/net/server.py
  src/squared/cli.py
  src/squared/token.py
Labels: source

fix: remove MESSAGE packets from server whitelist
  src/squared/app/net/server.py
Labels: source

feat: player position is now a pair of floats
  src/squared/app/game/sprites/player.py
  src/squared/app/net/packet.py
  src/squared/app/net/server.py
Labels: source

docs: update `README.md`
  README.md
Labels: documentation

chore: bump development status to stable
  pyproject.toml
Labels: config

chore: hide `pygame` support prompt
  src/squared/__init__.py
Labels: source

chore: update package keywords
  pyproject.toml
Labels: config

style: remove GitHub style callout from `README.md`
  README.md
Labels: documentation
